body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

h2{
    margin-top: 0px;
}

.comprar{
    background-color: #a8f;
    padding: 10px 20px;
    color: #103;
    text-decoration: none;
    border-radius: 4px;
}

.item{
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    /* margin-bottom: 20px; */
    padding: 20px;
    border-radius: 4px;
    display: grid;

}

.grid{
    display: grid;
    grid-template-columns: 300px 300px/*1fr 1fr*/;
    gap: 20px;
    justify-content: start;
}


    /* Pra escolher o canto q o item vai ficar tem que deixarm px: ex
    Sempre tem que ter espaço pro conteudo */
    /* OBS: Justificar com FR não funciona.. mas com AUTO funciona... lembrando que com Auto ele vai sempre pegar o tamanho do maior conteudo P ou outra Tag*/

    /* Align-Content só alinha na vertical e se tiver espaço */